@{
    ViewData["Title"] = "群益投信客戶維護";
    ViewBag.SiteMapHead = "群益投信客戶維護";
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Metronic Admin Theme #1 | Bootstrap Form Wizard</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #1 for bootstrap form wizard demos using Twitter Bootstrap Wizard Plugin" name="description" />
    <meta content="" name="author" />

</head>
<body>
    @using (Html.BeginForm("Insert", "InvestmentTrust", FormMethod.Post))
    {
    <div id="ViewAccount" style="font-family:'微軟正黑體';color:#4F4F4F	">
        <div class="col-md-6 portlet light portlet-fit portlet-form bordered">
            <div class="portlet-body">
                <div class="form-body">

                    <div class="form-group form-md-line-input">
                        <label class="col-md-5 control-label" style="text-align:right;padding:0px!important;margin-right:10px!important" for="form_control_1">
                            編號
                            <span class="required" aria-required="true">*</span>
                        </label>
                        <div class="col-md-4 col-xs-12" style="padding:0px!important">
                            @Html.TextBox("NO", null, new { @class = "form-control" })
                            <span id="name-error" class="help-block help-block-error"></span>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-5 control-label" style="text-align:right;padding:0px!important;margin-right:10px!important" for="form_control_1">
                            客戶名稱
                            <span class="required" aria-required="true">*</span>
                        </label>
                        <div class="col-md-6 col-xs-12" style="padding:0px!important">
                            @Html.TextBox("NAME", null, new { @class = "form-control" })
                            <span id="name-error" class="help-block help-block-error"></span>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-5 control-label" style="text-align:right;padding:0px!important;margin-right:10px!important" for="form_control_1">
                            身分證字號或營利事業統一編號
                            <span class="required" aria-required="true">*</span>
                        </label>
                        <div class="col-md-6 col-xs-12" style="padding:0px!important">
                            @Html.TextBox("IDNO", null, new { @class = "form-control" })
                            <span id="name-error" class="help-block help-block-error"></span>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-offset-5 col-md-7">
                            <button type="button" id="GoBack" class="btn blue">回上一頁</button>
                            <button type="submit" id="btnSubmit" class="btn green">新增</button>
                            <button type="reset" class="btn default">重填</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</body>
<script>
    $(function () { 
        $("[name=NO],[name=NAME],[name=IDNO]").keyup(function () { 
            checkField();
        })
        $("#GoBack").click(function () {
            location.href = "@Url.Action("Index","InvestmentTrust")";
        })
        $("#btnSubmit").click(function (e) { 
            e.preventDefault();
            if (checkField())
                $('form').submit();
        })
    })

    function checkField() { 
        var check = true;
        if (!$("[name=NO]").val()) {
            FieldError("NO", "[編號]為必填")
            check = check && false;
        } else if ($("[name=NO]").val().length > 3) {
            FieldError("NO", "[編號]不可超過3個字元")
            check = check && false;
        } else {
            FieldError("NO")
        }
        if (!$("[name=NAME]").val()) {
            FieldError("NAME", "[客戶名稱]為必填")
            check = check && false;
        } else if ($("[name=NAME]").val().length > 50) {
            FieldError("NAME", "[客戶名稱]不可超過50個字元")
            check = check && false;
        } else {
            FieldError("NAME")
        }
        if (!$("[name=IDNO]").val()) {
            FieldError("IDNO", "[身分證字號或營利事業統一編號]為必填")
            check = check && false;
        } else if ($("[name=IDNO]").val().length > 10) {
            FieldError("IDNO", "[身分證字號或營利事業統一編號]不可超過10個字元")
            check = check && false;
        } else {
            FieldError("IDNO")
        }
        return check;
    }
    function FieldError(Field, ErrorMsg) {
        if (ErrorMsg) 
            $("[name=" + Field + "]").attr("aria-invalid", true).closest("div").find(".help-block-error").html(ErrorMsg).closest(".form-md-line-input").addClass("has-error");
        else 
            $("[name=" + Field + "]").attr("aria-invalid", false).closest("div").find(".help-block-error").html('').closest(".form-md-line-input").removeClass("has-error");
    }
</script>