DataRetrieve/DataRetrieve/.vs
DataRetrieve/DataRetrieve/obj
DataRetrieve/DataRetrieve/bin
DataRetrieve/DataRetrieve.BusinessLogic/obj
DataRetrieve/DataRetrieve.BusinessLogic/bin
DataRetrieve/DataRetrieve.ConfigHelper/obj
DataRetrieve/DataRetrieve.ConfigHelper/bin
DataRetrieve/DataRetrieve.DataAccess/obj
DataRetrieve/DataRetrieve.DataAccess/bin
DataRetrieve/DataRetrieve.Filter/obj
DataRetrieve/DataRetrieve.Filter/bin
DataRetrieve/DataRetrieve.LogHelper/obj
DataRetrieve/DataRetrieve.LogHelper/bin
DataRetrieve/DataRetrieve.MiddleWare/obj
DataRetrieve/DataRetrieve.MiddleWare/bin
DataRetrieve/DataRetrieve.Model/obj
DataRetrieve/DataRetrieve.Model/bin
DataRetrieve/DataRetrieve.SqlHelper/obj