@{
    ViewData["Title"] = "AccessDenied";
}
@*<h2>你沒有檢視MT5頁面的權限，請向資訊部申請，謝謝。</h2>*@

<div class="jumbotron">
    <h1>系統發生錯誤</h1>
    <p>系統發生錯誤，已經通知相關人員處理，請稍後再試。</p>
</div>
<div style="color:white">
    @ViewBag.Error
</div>